[Unit]
Description=Downloads and runs DC/OS install from DC/OS bootstrap
Requires=multi-user.target
After=multi-user.target
[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=journal+console
EnvironmentFile=
# NOTE SYSTEMD STARTS EXECUTABLES AS ROOT BY DEFAULT, THUS NO SUDO
ExecStartPre=/usr/bin/bash -c "rm -rf /tmp/dcos_install.sh"
ExecStartPre=/usr/bin/bash -c "curl -o /tmp/dcos_install.sh -O http://10.20.1.60:88/dcos_install.sh"
ExecStart=/usr/bin/bash -c "bash /tmp/dcos_install.sh slave"
[Install]
WantedBy=multi-user.target
